<nav class="navbar navbar-expand-lg" id="navBar">
  <div class="fitNavigation">
    <div id="academy"><img src="" alt=""/></div>

    <div id="menu">
      <div  >
        <!--          <a class="nav-item " routerLink="/" title="Les Comptes"><em class="fas fa-briefcase"></em></a>-->      </div>
      <a class="nav-item " routerLink="/user/account" title="Les Clients" ><em class="fa fa-users"></em></a>
      <a class="nav-item " routerLink="/user/complaint" title="Complaints"><em class="fa fa-biohazard"></em></a>
      <a class="nav-item " routerLink="/user/allRequest" title="Request"><em class="fa fa-receipt"></em></a>
      <a class="nav-item " routerLink="/user/forum" title="Forum" ><em class="fa fa-blog"></em></a>
      <div>
        <a class="nav-item" routerLink="/"  title="Déconnexion"><i class="fas fa-sign-out-alt"></i></a>
      </div>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>
