<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Boucle</title>
</head>

<body>
<div class="container">
  <H1>Simulateur de credit</H1>
  <div id="input">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">Montant</div>
        <input type="number" [(ngModel)]="amountInput" class="form-control" id="amountInput">
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">Durée(Année)</div>
        <input type="number"  [(ngModel)]="monthInput" class="form-control" id="monthInput">
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">Taux du crédit</div>
        <input type="number" [(ngModel)]="intrestInput" class="form-control" id="intrestInput">
      </div>
    </div>

    <button class="btn btn-dark" (click)="getUserInfo()">calculer</button>
  </div>

  <div id="overview" class="mt-4">

  </div>

  <div id="payementList">
    <table class="table mt-3 text-center">
      <thead>
      <tr>
        <th>N°</th>
        <th>date:</th>
        <th>capital payés</th>
        <th>intérets payés</th>
        <th>Restant</th>
      </tr>
      </thead>
      <tbody id="details">

      </tbody>
    </table>
  </div>

</div>

<script src="code.js"></script>
</body>

</html>
