<a class="clickable" (click)="AfficherDone()">En cours</a>

<a class="clickable"(click)="AfficherEnCours()">Historique </a>
<div [ngClass]="{'hide':!encours}">
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nom Client</th>
    <th scope="col">Demande</th>
    <th scope="col">Date</th>
    <th scope="col">Etat</th>
    <th scope="col">Action</th>
  </tr>
  </thead>

  <tbody *ngFor="let p of Request">
  <tr >
    <th scope="row">{{p.idRequest}}</th>
    <td>{{p.user.username}}</td>
    <td>{{p.type}}</td>
    <td>{{p.date}}</td>
    <td>{{p.state}}</td>
    <td>

      <button type="button" (click)="UpdateStatus(p.idRequest)" class="btn btn-info">DONE</button>
    </td>
  </tr>
  </tbody>
</table>
</div>

