
<div class="body">
    <div class="row">
      <div class ="col col-12 col-md-6 col-lg-">
        <div class="container">
        <a href ="addpost"class="btn btn-primary" >New Post</a>
            
            <br>
            <br>
  
          <div class="card" style="width: 22rem;">
            <h5 class="card-title">Card title</h5>
             <img src="assets/bank.webp" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Post Post Post</h5>
               <p class="card-text">
                 
               </p>
               <a href="comment" class="btn btn-primary" onclick="getAllComment()">Comments</a>
             </div>
            </div>
        </div>  
      </div>
    </div>
    </div>