
<form   [formGroup]="commentForm" (ngSubmit)="saveComment()">
  <div class="container">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="contained">Comment</label>
          <!--<input class="form-control" id="description" required [(ngModel)]="post.contained" name="description"/>-->
          <input type="text" class="form-control" id="contained" formControlName="contained"/>
        </div>
        <button type="Submit"  class="btn btn-success" >Submit</button>
      </div>

    </div>
  </div>
</form>
