<nav class="navbar navbar-expand-lg" id="navBar">
    <div class="fitNavigation">
      <div id="academy"><img src="" alt=""/></div>
    
      <div id="menu">
        <div  >
          <a class="nav-item " routerLink="/admin" title="Les Comptes"><em class="fas fa-briefcase"></em></a>
          <a class="nav-item " routerLink="/client" title="Les Clients" ><em class="fa fa-users"></em></a>
        </div>
      
        <div>
          <a class="nav-item" routerLink="/"  title="Déconnexion"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    
      </div>
    </div>
    </nav>
    