<nav class="navbar navbar-expand-lg" id="navBar">
    <div class="fitNavigation">
      <div id="academy"><img src="" alt=""/></div>

      <div id="menu">
        <div  >
<!--          <a class="nav-item " routerLink="/" title="Les Comptes"><em class="fas fa-briefcase"></em></a>-->
          <a class="nav-item " routerLink="/admin/account" title="Les Clients" ><em class="fa fa-users"></em></a>
          <a class="nav-item " routerLink="/admin/complaint" title="Complaints"><em class="fa fa-biohazard"></em></a>
          <a class="nav-item " routerLink="/admin/allRequest" title="Request"><em class="fa fa-receipt"></em></a>
          <a class="nav-item " routerLink="/admin/forum" title="Forum" ><em class="fa fa-blog"></em></a>
        </div>

        <div>
          <a class="nav-item" routerLink="/" (click) = "this.authenticationService.logout()" title="Déconnexion"><i class="fas fa-sign-out-alt"></i></a>
        </div>

      </div>
    </div>
    </nav>
